<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/home.cSs">
    <title>Illusive Studios</title>
</head>

<body>
    <%- include('partials/header.ejs') %>

        <!-- HERO SECTION -->

        <section class="section-1 overlay">
            <div class="hero-box">
                <h2>Feel flawless Feel Free...</h2>
            </div>
            <!-- <img src="assets/asian-woman-posing-cream.jpeg" class="header-hero" alt=""> -->
            </div>
        </section>

        <!-- PRODUCTS SECTION -->
        <section class="products">
            <div class="products-title">
                <h2>Explore Our Curated Favorite Right Now!</h2>
            </div>
            <div class="products-container">

                <div class="products-container__box">
                    <div class="image-box">
                        <img src="/assets/blog/still-life-combination-makeup-texture.jpg" alt="skincare">
                    </div>
                    <div class="title-box">
                        <h3>Top 5 Tips to clear up your skin in no time!</h3>
                        <p>By Shubo Kobir</p>
                    </div>
                    <div class="inner-text">
                        <p>Come and unveil all the secrets to a flawless complexion with our top five expertly curated tips.
                            Transform your skincare routine and achieve radiant, clear skin effortlessly and
                            efficiently...</p>
                    </div>
                    <button class="p-btn">Read More</button>

                </div>

                <div class="products-container__box">
                    <div class="image-box">
                        <img src="/assets/blog/studio-shot-surprised-model.jpg" alt="skincare">
                    </div>
                    <div class="title-box">
                        <h3>Natural Remedies for Acne: What Really Works</h3>
                        <p>By Shubo Kobir</p>
                    </div>

                    <div class="inner-text">
                        <p>Explore the most effective natural remedies for acne and discover what truly works. From
                            herbal treatments to dietary adjustments, unlock the secrets to clear, healthy skin without
                            harsh chemicals...</p>
                    </div>
                    <button class="p-btn">Read More</button>

                </div>



                <div class="products-container__box">
                    <div class="image-box">
                        <img src="/assets/blog/front-view-woman-posing-with-gold-body-painting.jpg" alt="skincare">
                    </div>

                    <div class="title-box">
                        <h3>The Ultimate Guide to Anti-Aging Skincare</h3>
                        <p>By Shubo Kobir</p>
                    </div>

                    <div class="inner-text">
                        <p>Embark on a journey to timeless beauty with our comprehensive guide to anti-aging skincare.
                            Learn the science-backed strategies and products that will rejuvenate your skin and preserve
                            its youthful glow...</p>
                    </div>
                    <button class="p-btn">Read More</button>
                </div>

            </div>


        </section>

        <!-- NEXT SECTION -->

        <section class="section-2">
            <div class="column-1 overlay">
                <div class="column-1__container overlay">
                    <h3>Declutter your skincare routine and take gentle care of your skin. </h3>
                </div>
            </div>
            <div class="column-2">

            </div>
        </section>



        <!-- <script src="scripts/menu.js"></script> -->
</body>

</html>