<link rel="stylesheet" href="styles/about.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="header.css">


    <body>
        <%- include('partials/header.ejs') %>

        <div class="myContainer-mobile myContainer-tablet myContainer-dt">
            <div class="myContainer-1">
                <img src="/assets/my-story/240103-CHAEYOUNG-Instagram-Update-documents-1.jpeg" alt="story-image">
            </div>

            <div class="myContainer-2">
                <div class="right-text mobile tablet dt">
                    <h3>My story</h3>
                    <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                        leap
                        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                        with
                        the
                        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                        publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum.</h4>
                </div>
            </div>
        </div>


        <section class="socials">
            <div class="socials-title">
                <h2>Follow Our Instagram</h2>
                <a href="#" </a>
                    <p>Keep up to date here on Insta <i class="fa-solid fa-arrow-right"></i> </p>
                </a>
            </div>

            <section class="socials-carousel">
                <article class="carousel">
                    <div class="carousel-item">
                        <ul>
                            <li><img src="/assets/my-story/carousel/st-pauls.jpeg" alt="Image 1"></li>
                            <li><img src="/assets/my-story/carousel/221120b139c877158840d04841d4dc2c.jpg" alt="Image 2"></li>
                            <li><img src="/assets/my-story/carousel/68bd156d386e902f11428cc804895601.jpg" alt="Image 3"></li>
                            <li><img src="/assets/my-story/carousel/d7c191809818dbc4725efd556ad83902.jpg" alt="Image 4"></li>
                        </ul>
                    </div>
                    <div class="carousel-item">
                        <ul>
                            <li><img src="/assets/my-story/carousel/st-pauls.jpeg" alt="Image 5"></li>
                            <li><img src="/assets/my-story/carousel/221120b139c877158840d04841d4dc2c.jpg" alt="Image 6"></li>
                            <li><img src="/assets/my-story/carousel/68bd156d386e902f11428cc804895601.jpg" alt="Image 7"></li>
                            <li><img src="/assets/my-story/carousel/d7c191809818dbc4725efd556ad83902.jpg" alt="Image 8"></li>
                        </ul>
                    </div>
                </article>
            </section>
        <%- include('partials/footer.ejs') %>

    </body>